@use "../styles/text" as txt;
@use "../styles/variables" as vars;
@use "../styles/mixins" as mixs;

.faq-section {
  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__item {
    &:first-child {
      border-top: 0.2rem solid vars.$primary-color;
    }

    border-bottom: 1px solid vars.$white-2;

    &[data-active="true"] {
      .faq-section__icon {
        transform: rotate(45deg);
      }
    }
  }

  &__question {
    @extend %body-2-regular;

    background: none;

    border: none;

    width: 100%;
    padding: 2.7rem 0;
    color: vars.$black;

    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &:focus {
      // outline: 2px solid vars.$primary-color;
    }
  }

  &__icon {
    font-size: 2.5rem;
    transition: transform 0.3s ease;
    color: vars.$primary-color;
  }

  &__answer {
    @extend %body-2-regular;

    color: vars.$grey-2;

    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;

    &[data-active="true"] {
      height: 6rem;
    }
  }
}
