// Primary Colors
$primary-color: #FD691E;
$white: #FAFAFA;
$white-2: #E5E5E5;
$white-3: #EAEFED;
$black: #0F0F0F;

// Grays
$grey-1: #333333;
$grey-2: #7B7B7B;
$grey-3: #A2A2A2;

// Accent Colors
$baby-blue: #87E2F5;
$lilac: #EBB7F5;
$vanilla: #FFF3B7;
$peach: #FF725E;

// Additional Colors
$pink: #FF477E;
$red-state: #D83C3C;
$yellow-state: #FFC857;
$green-state: #27AE5F;
$blue-state: #3B70E5;


$font-family-recoleta: 'FONTSPRING DEMO - Recoleta Alt';
$font-family-helvetica-neue: 'Helvetica Neue';

$breakpoint-phone: 375px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;
